.ta {
    margin-top: 100px;
    margin: auto;
    width: 70%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: auto;
    text-align: center;
  }  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .button:hover,
  a:hover {
    opacity: 0.7;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(18, 53, 7);
    color: rgb(57, 208, 115);
    text-align: center;
  }
  img:hover {
    transform: scale(1.1);
  }